body {
  background-color: #282c35;
  color: #eee;
  font-family: 'Arial', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #374e6d;
  /* set background*/
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  /* shadow around movies*/
}

.section-title {
  text-align: center;
  margin-bottom: 25px;
  border-top: 2px solid #fff;
  padding-top: 10px;
}


.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.movie-item,
.favorite-item {
  position: relative;
  overflow: hidden;
  background-color: #39424f;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.movie-item img,
.favorite-item img {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.movie-item:hover,
.favorite-item:hover {
  transform: scale(1.05);
}

.item-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  display: none;
  transition: 0.3s ease-in-out;
}

.movie-item:hover .item-details,
.favorite-item:hover .item-details {
  display: flex;
  flex-direction: column;
}

.movie-item:hover .item-details h3,
.favorite-item:hover .item-details h3 {
  margin-top: 0;
  color: #eee;
}

.movie-item:hover .item-details p,
.favorite-item:hover .item-details p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  flex-grow: 1;
  color: #eee;
}

.small-logo {
  position: fixed;
  top: 14px;
  right: 10px;
  width: 50px;
  height: auto;
  z-index: 1000;
}